/* App.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Agrega la fuente que desees */
}

body {
  background-color: #fcf7f7;
  user-select: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fcf7f7;
  height: 100px;
  width: calc(100% - 55px);
}

.logo-container {
  color: #000000;
  display: flex;
  align-items: center;
}

.app-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container BoxText{
  padding: 100px;
}
